{{- if .Site.Params.searchBar }}
  {{- $expandBreakpoint := default "xxl" site.Params.topAppBar.expandBreakpoint }}
  <hr class="d-{{ $expandBreakpoint }}-none">
  <div class="search-bar ms-auto my-auto">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
          element: "#search",
          showSubResults: true,
          showImages: false
        });
      });
    </script>
  </div>
{{- end -}}
